@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Pinyon+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');





* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #017991;
}


h1,
h2,
p {
    color: red;
}

h1 {
    text-align: center;
}

.head1 {
    color: coral;
    text-indent: -20pt;
}

h1.head2 {
    color: darkgray;
    text-indent: 20pt;
}

nav {
    background-color: black;

    a {
        color: white;
        display: block;
    }
}

#product_card_1 {
    width: 300px;
    background-color: rgba(12, 107, 240, 0.727) !important;

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    a {
        display: block;
        color: red
    }

    img {
        background-color: transparent;
    }

}


/* nav a{
    display: block;
}
    vecais peraksts */


/* Bloka elementi */


/* Ārējās atkāpes Margin*/

nav {
    margin: 100px;
    margin: 50px 100px;
    margin: 50px 100px 100px 50px;
    margin-left: 100px;
    width: 50%;
    /* text-align: center; */
    margin: 50px auto;
    /* novieto bloka elementu centrā */


    /* Iekšējās atkāpes */
    padding: 20px;
    padding: 100px;
    padding: 50px 100px;
    padding: 20px 20px 20px 50px;
    padding-left: 100px;


    /* Apmale */

    border: 5px red solid;
    border-style: double;
    border-radius: 15px;
    width: 500px;


}


/* FlexBox */

/* .cards-flex{
        border:2px solid red;
        height:800px;
        display: flex;
        gap:20px;
        flex-direction: row;
        flex-wrap: wrap;
        /* Horizontāls līdzinājums */
/* justify-content: center;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: space-evenly; */
/* Vertikāls līdzinājums */
/* align-items: center; */

/* } */

.card {
    height: 430px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3,
    p {
        margin: 0px
    }
}


.cards-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center
}


/* Navigācija */


nav {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    background-color: #282A35;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 5px 10px #ffffffb4;


    a {
        text-decoration: none;
        font-family: sans-serif;
        padding: 10px 10px;

        &:hover {
            background-color: #101115;
        }
    }
}



/* Teksta noformēšana */
    body{
        font-size: 14pt;
        font-family: "Arial",sans-serif;
        font-family: sans-serif;
        font-family: "Roboto", sans-serif;
    }

    h1{
        font-family: fantasy; 
        font-size: 3.5em;
        color: rgb(211, 255, 211) !important;
        font-weight:100;
        font-style: italic;
        font-style: oblique;
        font-variant: small-caps;

        text-align: left;
        text-indent: 50px !important;
        text-decoration: underline solid red;
        text-transform:uppercase;
        /* text-transform:lowercase; */
        text-shadow: -11px -9px 0px #282a3561;
        font-family: Sail;
       
    }

    h2{
         font-size: 2.5em;
    }

    p{
        font-size: 1.8em;
    }

    ol,ul{
        list-style-type: decimal-leading-zero;
        list-style-type: decimal-leading-zero;
        /* list-style-type: armenian; */


        li{
            /* font-size: 1.5; */
        }
    }

    h1,h2,h3{
         font-family: "Pinyon Script", cursive;
         text-align: center;
    }

    button{
        .myicon{
        color: red;
    }
    }

    .social{
        color: rgb(80, 221, 9);
        font-size: 5em;
        padding: 10px;
    }
    

    /* Pozicionēšana */

    .image{
        width: 300px;
        position: static;
        position: relative;
        position:absolute;
        /* top:400px; */
        bottom:0px;
        left:400px;
        z-index: 10;
        display: block;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        transform: scale(0.6) rotate(10deg) translate(0px, 30px) skew(10deg,0deg);
        /* transform: matrix(); */
        filter: blur(0px) hue-rotate(360deg) sepia(.5) saturate(.4) invert(1);

    }
    .image2{
        width: 100px;
        position: static;
        position: relative;
        top:-526px;
        left:300px;
        z-index: 9;

    }

    footer{
        outline:2px solid white;
        position: relative;
    }


    .modal{
            position: fixed;
            top:0px;
            background-color: #101115d3;
            width: 100%;
            height: 100%;
            padding-top: 150px;
            display: none;
            z-index: 50;


        h3{
            color:white;
            
        }
        img{
            display: block;
            margin:auto
        }
    }

    .accept{
        position: fixed;
        bottom:0px;
        width: 100%;
        z-index: 50;
        height: 50px;
        background-color: #c5eb07;
        
        text-align: center;
        padding: 10px;

    }

    nav{
        margin-top: 150px;
        position: sticky;
        top:0px;
        z-index: 10;
    }





    body{
        background-image: url('./img/HTML5_logo.png');
        background-size: 100% 100%;
        background-position: 0px 0px;
        background-clip: content-box;
        background-image: linear-gradient(rgb(1, 90, 173),rgb(2, 28, 61));
        /* https://cssgradient.io/ */

        background: #57C785;
        background: linear-gradient(328deg, rgba(87, 199, 133, 1) 31%, rgba(196, 95, 216, 1) 71%);
        background-repeat: no-repeat;

    }



    /* Animācijas */
    .card{
        transition: all .2s cubic-bezier(.17,.92,1,1.25);
        cursor: pointer;
        transform: scale(1);
    }

    .card:hover, .card:focus-visible{
            filter:saturate(.4);
            transform: scale(1.02);
            transition: all .3s cubic-bezier(.17,.92,1,1.25);
    }


    .social:hover{
        animation-name: rotācija_krāsa;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }


    @keyframes rotācija_krāsa {
        0%{
            background-color: darkmagenta;
            transform: scale(.5) rotate(0deg);

        }

        50%{
             background-color: rgb(2, 139, 0);
             transform: scale(.8) rotate(180deg);
        }

        100%{
            background-color: darkmagenta;
            transform: scale(.5) rotate(360deg);
        }
    }

    /* Responsīvais (adaptīvais) dizains */
    @media screen and (min-width:2560px){
            body{
                width: 50%;
                margin: 0 auto;
            }


             .cards-grid{

                grid-template-columns: auto auto auto auto;
                gap:40px;

                .card{
                    transform: scale(1);
                }
            }



    }





    @media screen and (max-width:1200px){
         .cards-grid{

                grid-template-columns: auto auto;
                gap:20px;

                .card{
                    transform: scale(1);
                }
            }

        
    }


    @media screen and (max-width:860px){
        *{
            /* outline:3px solid red; */
        }

            body{
                font-size: 10pt;
            }

           /* .cards-grid{
                display: none;
            } */
            nav{
                flex-direction: column;
                gap:0px;
                

                a{
                    padding: 5px 5px;
                    display: block;
                    /* display:none; */
                }
            }



            h1,h2,h3{
                text-indent: 0px !important;
                text-align: center;
                text-transform: none;
                font-variant: normal;

            }

            .cards-grid{

                grid-template-columns: auto;
                gap:5px;

                .card{
                    transform: scale(.8);
                }
            }


    }




    .card:hover{-webkit-animation:flip-scale-up-hor .5s cubic-bezier(.55,.085,.68,.53) both;animation:flip-scale-up-hor .5s cubic-bezier(.55,.085,.68,.53) both}

    /* ----------------------------------------------
 * Generated by Animista on 2025-10-15 20:13:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes flip-scale-up-hor{0%{-webkit-transform:scale(1) rotateX(0);transform:scale(1) rotateX(0)}50%{-webkit-transform:scale(2.5) rotateX(-90deg);transform:scale(2.5) rotateX(-90deg)}100%{-webkit-transform:scale(1) rotateX(-180deg);transform:scale(1) rotateX(-180deg)}}@keyframes flip-scale-up-hor{0%{-webkit-transform:scale(1) rotateX(0);transform:scale(1) rotateX(0)}50%{-webkit-transform:scale(2.5) rotateX(-90deg);transform:scale(2.5) rotateX(-90deg)}100%{-webkit-transform:scale(1) rotateX(-180deg);transform:scale(1) rotateX(-180deg)}}