*{
    box-sizing: border-box;
}
body{
    margin:0px;
    background-color: #017991;
}


h1,h2,p{
    color:red;
}

h1{
    text-align: center;
}
.head1{
    color:coral;
    text-indent: -20pt;
}
h1.head2{
    color: darkgray;
     text-indent: 20pt;
}
nav{
    background-color: black;
    a{
        color:white;
       display: block; 
    }
}

#product_card_1{
    width:300px;
    background-color: rgba(12, 107, 240, 0.727) !important;
    h3{text-align: center;}
    p{text-align: center;}
    a{display: block; color:red}
    img{background-color: transparent;}

}


/* nav a{
    display: block;
}
    vecais peraksts */


    /* Bloka elementi */


    /* Ārējās atkāpes Margin*/

    nav{
        margin:100px;
        margin: 50px 100px;
        margin: 50px 100px 100px 50px;
        margin-left:100px;
        width:50%;
        /* text-align: center; */
        margin:50px auto;
        /* novieto bloka elementu centrā */


        /* Iekšējās atkāpes */
        padding:20px;
        padding:100px;
        padding: 50px 100px;
        padding: 20px 20px 20px 50px;
        padding-left:100px;   
        
        
        /* Apmale */

        border: 5px red solid;
        border-style: double;
        border-radius: 15px;
        width:500px;


    }


    /* FlexBox */

    .cards-flex{
        
    }
